/**
 * Created by George Ruan on July 3, 2016.
 */

.nobe-project-item {
 margin: 0 0 15px;
 right: 0;
}

.nobe-project-item .nobe-project-link {
 display: block;
 position: relative;
 max-width: 400px;
 margin: 0 auto;
}

.nobe-project-item .nobe-project-link .nobe-project-hover {
 background: rgba(222, 128, 51, 0.9);
 position: absolute;
 width: 100%;
 height: 100%;
 opacity: 0;
 transition: all ease 0.5s;
 -webkit-transition: all ease 0.5s;
 -moz-transition: all ease 0.5s;
}

.nobe-project-item .nobe-project-link .nobe-project-hover:hover {
 opacity: 1;
}

.nobe-project-item .nobe-project-link .nobe-project-hover .nobe-project-hover-content {
 position: absolute;
 width: 100%;
 height: 20px;
 font-size: 20px;
 text-align: center;
 top: 50%;
 margin-top: -12px;
 color: white;
}

.nobe-project-item .nobe-project-link .nobe-project-hover .nobe-project-hover-content i {
 margin-top: -12px;
}

.nobe-project-item .nobe-project-link .nobe-project-hover .nobe-project-hover-content h3,
.nobe-project-item .nobe-project-link .nobe-project-hover .nobe-project-hover-content h4 {
 margin: 0;
}

.nobe-project-item .nobe-project-caption {
 max-width: 400px;
 margin: 0 auto;
 background-color: white;
 text-align: center;
 padding: 25px;
}

.nobe-project-item .nobe-project-caption h4 {
 text-transform: none;
 margin: 0;
}

.nobe-project-item .nobe-project-caption p {
 font-size: 16px;
 margin: 0;
}

@media (min-width: 767px) {
 .nobe-project-item {
   margin: 0 0 30px;
 }
}

.img-centered {
  margin: 0 auto;
}

.nobe-project-modal .modal-content {
 border-radius: 0;
 background-clip: border-box;
 -webkit-box-shadow: none;
 box-shadow: none;
 border: none;
 min-height: 100%;
 padding: 100px 0;
 text-align: center;
}

.nobe-project-modal .modal-content h2 {
 margin-bottom: 15px;
 font-size: 3em;
}

.nobe-project-modal .modal-content p {
 margin-bottom: 30px;
}

.nobe-project-modal .modal-content p.item-intro {
 margin: 20px 0 30px;
 font-style: italic;
 font-size: 16px;
}

.nobe-project-modal .modal-content ul.list-inline {
 margin-bottom: 30px;
 margin-top: 0;
}

.nobe-project-modal .modal-content img {
 margin-bottom: 30px;
}

.nobe-project-modal .close-modal {
 position: absolute;
 width: 75px;
 height: 75px;
 background-color: transparent;
 top: 25px;
 right: 25px;
 cursor: pointer;
}

.nobe-project-modal .close-modal:hover {
 opacity: 0.3;
}

.nobe-project-modal .close-modal .lr {
 height: 75px;
 width: 1px;
 margin-left: 35px;
 background-color: #222222;
 transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 /* IE 9 */
 -webkit-transform: rotate(45deg);
 /* Safari and Chrome */
 z-index: 1051;
}

.nobe-project-modal .close-modal .lr .rl {
 height: 75px;
 width: 1px;
 background-color: #222222;
 transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 /* IE 9 */
 -webkit-transform: rotate(90deg);
 /* Safari and Chrome */
 z-index: 1052;
}

.nobe-project-modal-fade {
  display: block;
  height: 0;
  opacity: 0;
  transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  z-index: 100;
}

.nobe-project-modal-fade.in {
  height: auto;
  opacity: 1;
  transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
}
