<div id="contact">
    <section>
        <div class="center wow fadeInDown">
            <h2>Contact Us</h2>
            <p class="lead">We would love to sit down and talk to potential members and sponsors!</p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="gmap">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12205.668641684682!2d-88.2273074!3d40.110706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x108f8c6e7935dd21!2sNational+Organization+for+Business+and+Engineering!5e0!3m2!1sen!2sus!4v1467181056812"></iframe>
                        </div>
                    </div>

                    <div class="col-md-12 map-content">
                        <div>
                          <address class="text-center">
                              <h5>NOBE Office</h5>
                              <p>1308 W Green St <br>
                                 Urbana, IL 61801</p>
                              <p>(217) 333-2151 <br>
                                 president@nobeillinois.org</p>
                          </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
