<div id="events-page">
    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Events</h2>
                <p class="lead">All NOBE affiliated events are listed on the calendar.</p>

                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=oa6v2d5atlsr4vhl39p8r2n6so%40group.calendar.google.com&amp;color=%23711a76&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>

        </div><!--/.container-->
    </section><!--/#feature-->
</div><!--/#events-page-->
