<div id="home-page" class="homepage">
    <section id="landing-page-section" class="no-margin">
        <div class="carousel">
            <div class="carousel-inner">

                <div class="item active landing-page-background">
                    <div class="container">
                        <div class="row landing-page-header">
                            <div class="col-sm-12">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">{{landingPageSection.title}}</h1>
                                    <h2 class="animation animated-item-2">{{landingPageSection.description}}<h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#landing-page-->

    <section id="mission-section">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>{{missionSection.title}}</h2>
                <p class="lead">{{missionSection.statement}}</p>
            </div>
        </div>
    </section>

    <section id="committee-section">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>{{committeeSection.title}}</h2>
                <p class="lead">{{committeeSection.description}}</p>
            </div>

            <div class="row">
                <div ng-repeat="committee in committeeSection.committees">
                    <div ng-class="getCommitteeContainerClass($last, $even)">
                        <div class="circular-icon">
                            <i ng-class="committee.iconClass"></i>
                            <h2>{{committee.name}}</h2>
                            <h3>{{committee.description}}</h3>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#committee-section-->

    <section id="team-section">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>{{teamSection.title}}</h2>
                <p class="lead">{{teamSection.description}}</p>
            </div>

            <div class="row">
                <div ng-repeat="team in teamSection.teams">
                    <div class="col-sm-6 col-md-4" ng-class="getTeamContainerClass($last, $odd)">
                        <nobe-project-modal team="team">
                        </nobe-project-modal>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#team-section-->

    <aside id="sponsor-aside">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>{{sponsorAside.title}}</h2>
            </div>

            <div class="row">
                <div ng-repeat="sponsor in sponsorAside.sponsors">
                    <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4">
                        <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="{{getSponsorAnimationDelay($index)}}" ng-src="images/partners/{{sponsor}}_logo.png">
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </aside><!--/#partner-->

</div><!--/#home-page-->
