<div id="national-page">
    <section class="lightest-bg large-padding-bottom">
        <div class="container">
    	       <div class="center wow fadeInDown no-padding-bottom">
    		         <h2>National</h2>
                 <p class="lead">NOBE is a longstanding national organization with chapters across the nation.</p>
        	   </div>

             <div class="row text-center">
                <div ng-repeat="chapter in nobeChapterData.arrayOfChapters()">
                    <div class="col-md-4 col-sm-6 chapter_logo">
                        <nobe-image-card color="chapter.color" description="chapter.chapter" link="chapter.link" source="nobeChapterData.chapterLogo(chapter.chapter)"></nobe-image-card>
                    </div>
                </div>
             </div>
        </div><!--/.container-->
    </section>
</div><!--/#about-page-->
