<div id="officer-page">
    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Officers</h2>
                <p class="lead">Leaders of our organization, they are managers and highly skilled individuals.</p>
            </div>

            <div class="row">
                <div ng-repeat="role in roles">
                    <div ng-class="getOfficerContainerClass($last, $index)">
                        <nobe-officer-photo role="role" display-social-media="true" display-name-and-role="true"></nobe-officer-photo>
                    </div>
                </div>
            </div><!--/.row-->

        </div><!--/.container-->
    </section><!--/#feature-->
</div><!--/#service-page-->
