<div id="officer-page">
    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Officers</h2>
                <p class="lead">Leaders of our organization, they are managers and representatives of their own committees.</p>
            </div>

            <div class="row">
                <div ng-repeat="role in roles">
                    <div class="col-sm-6 col-md-4">
                        <nobe-officer-photo role="role" display-social-media="true" display-name-and-role="true"></nobe-officer-photo>
                    </div>
                </div>
            </div><!--/.row-->

        </div><!--/.container-->
    </section><!--/#feature-->
</div><!--/#service-page-->
