<div id="points-page">
    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Points</h2>
                <p class="lead">Keep track of current member points in the club.</p>
                <iframe ng-src="https://docs.google.com/spreadsheets/d/1TmZLWN02oB5-QmNOmU6shReGuxeDwdqC87FYfuFjCPc/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"  width="434" height="600"></iframe>
            </div>

        </div><!--/.container-->
    </section><!--/#feature-->
</div><!--/#events-page-->


<iframe src="https://docs.google.com/spreadsheets/d/1TmZLWN02oB5-QmNOmU6shReGuxeDwdqC87FYfuFjCPc/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
